In [ ]:
pip install ucimlrepo

In [15]:
import pandas as pd
import numpy as np
import os
import cufflinks as cf

In [16]:
###Para importar el dataset desde UCI

from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
polish_companies_bankruptcy = fetch_ucirepo(id=365) 
  
# data (as pandas dataframes) 
X = polish_companies_bankruptcy.data.features 
y = polish_companies_bankruptcy.data.targets 
  
# metadata 
print(polish_companies_bankruptcy.metadata) 
  
# variable information 
print(polish_companies_bankruptcy.variables)

{'uci_id': 365, 'name': 'Polish Companies Bankruptcy', 'repository_url': 'https://archive.ics.uci.edu/dataset/365/polish+companies+bankruptcy+data', 'data_url': 'https://archive.ics.uci.edu/static/public/365/data.csv', 'abstract': 'The dataset is about bankruptcy prediction of Polish companies.The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 10503, 'num_features': 65, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2016, 'last_updated': 'Sat Mar 09 2024', 'dataset_doi': '10.24432/C5F600', 'creators': ['Sebastian Tomczak'], 'intro_paper': {'ID': 417, 'type': 'NATIVE', 'title': 'Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction', 'authors': 'Maciej Ziȩba, S. Tomczak, Jakub M. Tomczak', 'venue': 'Expert systems with applications', 'year': 2016, 'journal': None, 'DOI': '10.1016/j.eswa.2016.04.001', 'URL': 'https://www.semanticscholar.org/paper/c0b86d47505223db7e6085c10dd797169a32fa78', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS, http://www.securities.com), which is a database containing information on emerging markets around the world. The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.\r\nBasing on the collected data five classification cases were distinguished, that depends on the forecasting period:\r\n- 1stYear â€“ the data contains financial rates from 1st year of the forecasting period and corresponding class label that indicates bankruptcy status after 5 years. The data contains 7027 instances (financial statements), 271 represents bankrupted companies, 6756 firms that did not bankrupt in the forecasting period.\r\n- 2ndYear â€“ the data contains financial rates from 2nd year of the forecasting period and corresponding class label that indicates bankruptcy status after 4 years. The data contains 10173 instances (financial statements), 400 represents bankrupted companies, 9773 firms that did not bankrupt in the forecasting period.\r\n- 3rdYear â€“ the data contains financial rates from 3rd year of the forecasting period and corresponding class label that indicates bankruptcy status after 3 years. The data contains 10503 instances (financial statements), 495 represents bankrupted companies, 10008 firms that did not bankrupt in the forecasting period.\r\n- 4thYear â€“ the data contains financial rates from 4th year of the forecasting period and corresponding class label that indicates bankruptcy status after 2 years. The data contains 9792 instances (financial statements), 515 represents bankrupted companies, 9277 firms that did not bankrupt in the forecasting period.\r\n- 5thYear â€“ the data contains financial rates from 5th year of the forecasting period and corresponding class label that indicates bankruptcy status after 1 year. The data contains 5910 instances (financial statements), 410 represents bankrupted companies, 5500 firms that did not bankrupt in the forecasting period.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'X1\tnet profit / total assets\r\nX2\ttotal liabilities / total assets\r\nX3\tworking capital / total assets\r\nX4\tcurrent assets / short-term liabilities\r\nX5\t[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365\r\nX6\tretained earnings / total assets\r\nX7\tEBIT / total assets\r\nX8\tbook value of equity / total liabilities\r\nX9\tsales / total assets\r\nX10\tequity / total assets\r\nX11\t(gross profit + extraordinary items + financial expenses) / total assets\r\nX12\tgross profit / short-term liabilities\r\nX13\t(gross profit + depreciation) / sales\r\nX14\t(gross profit + interest) / total assets\r\nX15\t(total liabilities * 365) / (gross profit + depreciation)\r\nX16\t(gross profit + depreciation) / total liabilities\r\nX17\ttotal assets / total liabilities\r\nX18\tgross profit / total assets\r\nX19\tgross profit / sales\r\nX20\t(inventory * 365) / sales\r\nX21\tsales (n) / sales (n-1)\r\nX22\tprofit on operating activities / total assets\r\nX23\tnet profit / sales\r\nX24\tgross profit (in 3 years) / total assets\r\nX25\t(equity - share capital) / total assets\r\nX26\t(net profit + depreciation) / total liabilities\r\nX27\tprofit on operating activities / financial expenses\r\nX28\tworking capital / fixed assets\r\nX29\tlogarithm of total assets\r\nX30\t(total liabilities - cash) / sales\r\nX31\t(gross profit + interest) / sales\r\nX32\t(current liabilities * 365) / cost of products sold\r\nX33\toperating expenses / short-term liabilities\r\nX34\toperating expenses / total liabilities\r\nX35\tprofit on sales / total assets\r\nX36\ttotal sales / total assets\r\nX37\t(current assets - inventories) / long-term liabilities\r\nX38\tconstant capital / total assets\r\nX39\tprofit on sales / sales\r\nX40\t(current assets - inventory - receivables) / short-term liabilities\r\nX41\ttotal liabilities / ((profit on operating activities + depreciation) * (12/365))\r\nX42\tprofit on operating activities / sales\r\nX43\trotation receivables + inventory turnover in days\r\nX44\t(receivables * 365) / sales\r\nX45\tnet profit / inventory\r\nX46\t(current assets - inventory) / short-term liabilities\r\nX47\t(inventory * 365) / cost of products sold\r\nX48\tEBITDA (profit on operating activities - depreciation) / total assets\r\nX49\tEBITDA (profit on operating activities - depreciation) / sales\r\nX50\tcurrent assets / total liabilities\r\nX51\tshort-term liabilities / total assets\r\nX52\t(short-term liabilities * 365) / cost of products sold)\r\nX53\tequity / fixed assets\r\nX54\tconstant capital / fixed assets\r\nX55\tworking capital\r\nX56\t(sales - cost of products sold) / sales\r\nX57\t(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)\r\nX58\ttotal costs /total sales\r\nX59\tlong-term liabilities / equity\r\nX60\tsales / inventory\r\nX61\tsales / receivables\r\nX62\t(short-term liabilities *365) / sales\r\nX63\tsales / short-term liabilities\r\nX64\tsales / fixed assets', 'citation': None}}
     name     role        type demographic description units missing_values
0    year  Feature     Integer        None        None  None             no
1      A1  Feature  Continuous        None        None  None             no
2      A2  Feature  Continuous        None        None  None             no
3      A3  Feature  Continuous        None        None  None             no
4      A4  Feature  Continuous        None        None  None            yes
..    ...      ...         ...         ...         ...   ...            ...
61    A61  Feature  Continuous        None        None  None            yes
62    A62  Feature  Continuous        None        None  None             no
63    A63  Feature  Continuous        None        None  None            yes
64    A64  Feature  Continuous        None        None  None            yes
65  class   Target     Integer        None        None  None             no

[66 rows x 7 columns]

In [ ]:

X.head()

In [ ]:
y.head()

In [17]:
df = pd.concat([X, y], axis=1)

In [ ]:
##LA UTILICE SOLO PARA EXPORTAR EL DF

##df.to_csv("/Users/myrnamigueldelatorre/Documents/bankruptcy_polish_companies.csv", index=False)

## PUNTO2. EXPLORACION Y LIMPIEZA DE DATOS. ##

In [18]:
# Información general
print("===== INFO GENERAL =====")
print(df.info())

print("\n===== PRIMERAS FILAS =====")
display(df.head())

print("\n===== DESCRIPCIÓN ESTADÍSTICA =====")
display(df.describe(include='all'))

===== INFO GENERAL =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43405 entries, 0 to 43404
Data columns (total 66 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    43405 non-null  int64
 1   A1      43397 non-null  float64
 2   A2      43397 non-null  float64
 3   A3      43397 non-null  float64
 4   A4      43271 non-null  float64
 5   A5      43316 non-null  float64
 6   A6      43397 non-null  float64
 7   A7      43397 non-null  float64
 8   A8      43311 non-null  float64
 9   A9      43396 non-null  float64
 10  A10     43397 non-null  float64
 11  A11     43361 non-null  float64
 12  A12     43271 non-null  float64
 13  A13     43278 non-null  float64
 14  A14     43397 non-null  float64
 15  A15     43369 non-null  float64
 16  A16     43310 non-null  float64
 17  A17     43311 non-null  float64
 18  A18     43397 non-null  float64
 19  A19     43277 non-null  float64
 20  A20     43278 non-null  float64
 21  A21     37551 non-null  float64
 22  A22     43397 non-null  float64
 23  A23     43278 non-null  float64
 24  A24     42483 non-null  float64
 25  A25     43397 non-null  float64
 26  A26     43310 non-null  float64
 27  A27     40641 non-null  float64
 28  A28     42593 non-null  float64
 29  A29     43397 non-null  float64
 30  A30     43278 non-null  float64
 31  A31     43278 non-null  float64
 32  A32     43037 non-null  float64
 33  A33     43271 non-null  float64
 34  A34     43311 non-null  float64
 35  A35     43397 non-null  float64
 36  A36     43397 non-null  float64
 37  A37     24421 non-null  float64
 38  A38     43397 non-null  float64
 39  A39     43278 non-null  float64
 40  A40     43271 non-null  float64
 41  A41     42651 non-null  float64
 42  A42     43278 non-null  float64
 43  A43     43278 non-null  float64
 44  A44     43278 non-null  float64
 45  A45     41258 non-null  float64
 46  A46     43270 non-null  float64
 47  A47     43108 non-null  float64
 48  A48     43396 non-null  float64
 49  A49     43278 non-null  float64
 50  A50     43311 non-null  float64
 51  A51     43397 non-null  float64
 52  A52     43104 non-null  float64
 53  A53     42593 non-null  float64
 54  A54     42593 non-null  float64
 55  A55     43404 non-null  float64
 56  A56     43278 non-null  float64
 57  A57     43398 non-null  float64
 58  A58     43321 non-null  float64
 59  A59     43398 non-null  float64
 60  A60     41253 non-null  float64
 61  A61     43303 non-null  float64
 62  A62     43278 non-null  float64
 63  A63     43271 non-null  float64
 64  A64     42593 non-null  float64
 65  class   43405 non-null  int64
dtypes: float64(64), int64(2)
memory usage: 21.9 MB
None

===== PRIMERAS FILAS =====

   year        A1       A2       A3  ...      A62     A63      A64  class
0     1  0.200550  0.37951  0.39641  ...   82.658  4.4158   7.4277      0
1     1  0.209120  0.49988  0.47225  ...  107.350  3.4000  60.9870      0
2     1  0.248660  0.69592  0.26713  ...  134.270  2.7185   5.2078      0
3     1  0.081483  0.30734  0.45879  ...   86.435  4.2228   5.5497      0
4     1  0.187320  0.61323  0.22960  ...  127.210  2.8692   7.8980      0

[5 rows x 66 columns]

===== DESCRIPCIÓN ESTADÍSTICA =====

               year            A1  ...            A64         class
count  43405.000000  43397.000000  ...   42593.000000  43405.000000
mean       2.939753      0.035160  ...      72.796105      0.048174
std        1.283975      2.994109  ...    2369.744596      0.214137
min        1.000000   -463.890000  ...  -10677.000000      0.000000
25%        2.000000      0.003429  ...       2.176800      0.000000
50%        3.000000      0.049660  ...       4.282500      0.000000
75%        4.000000      0.129580  ...       9.776200      0.000000
max        5.000000     94.280000  ...  294770.000000      1.000000

[8 rows x 66 columns]

In [ ]:
total_nulos = df.isnull().sum().sum()
print("Total de valores nulos en el dataset:", total_nulos)

In [ ]:


# Identificar columnas numéricas y categóricas
num_cols = df.select_dtypes(include=[np.number]).columns
cat_cols = df.select_dtypes(include=['object']).columns

# Rellenar nulos numéricos con la mediana
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Rellenar nulos categóricos con la moda
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

print(">>> Nulos tratados exitosamente.")

In [ ]:
total_nulos = df.isnull().sum().sum()
print("Total de valores nulos en el dataset:", total_nulos)

In [ ]:
##Funcion para contar outliers
def contar_outliers_df(df):
    """
    Calcula el número de outliers por columna y el total de outliers
    usando el método del IQR (rango intercuartil).
    """
    num_cols = df.select_dtypes(include=[np.number]).columns
    outliers_por_columna = {}
    total_outliers = 0

    for col in num_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        limite_inf = Q1 - 1.5 * IQR
        limite_sup = Q3 + 1.5 * IQR

        # Outliers en la columna
        outliers = df[(df[col] < limite_inf) | (df[col] > limite_sup)]
        cantidad = outliers.shape[0]
        outliers_por_columna[col] = cantidad
        total_outliers += cantidad

    return total_outliers, outliers_por_columna

In [ ]:
##Usando la funcion para contar outliers

total, detalle = contar_outliers_df(df)

print("Total de outliers en el dataset:", total)
print("\nOutliers por columna:")
print(detalle)

In [ ]:
##WINSORIZACION DE OUTLIERS

for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    limite_inf = Q1 - 1.5 * IQR
    limite_sup = Q3 + 1.5 * IQR
    
    # Recortar valores extremos
    df[col] = np.clip(df[col], limite_inf, limite_sup)

print(">>> Outliers tratados exitosamente.")

In [ ]:
##Usando la funcion para contar outliers

total, detalle = contar_outliers_df(df)

print("Total de outliers en el dataset despues de tratar:", total)
print("\nOutliers por columna:")
print(detalle)

In [ ]:
print("===== TIPOS ANTES =====")
print(df.dtypes)

# Convertir columnas tipo object que puedan ser numéricas
for col in df.columns:
    try:
        df[col] = pd.to_numeric(df[col])
    except:
        pass

print("\n===== TIPOS DESPUÉS =====")
print(df.dtypes)

print("\n>>> Revisión y conversión de tipos completada.")